
<div class="container">
    <div class="row">
        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Rxjs</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="item">
                    <img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png">
                 </div>
                </mat-card-content>
                <mat-card-actions>
                  <button routerLink="/rxjs/operators/" class="btn btn-primary">Go</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Spring Boot</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="item">
                    <img src="https://pbs.twimg.com/profile_images/1235868806079057921/fTL08u_H_400x400.png">
                 </div>
                </mat-card-content>
                <mat-card-actions>
                  <button routerLink="/spring-application" class="btn btn-primary">Go</button>
                </mat-card-actions>
              </mat-card>
        </div>
        

        
        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Angular</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
                 </div>
                </mat-card-content>
                <mat-card-actions>
                  <button routerLink="/parent" class="btn btn-primary">Go</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Jasmine</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="item">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/Logo_jasmine.svg/1200px-Logo_jasmine.svg.png">
                 </div>
                </mat-card-content>
                <mat-card-actions>
                  <button class="btn btn-primary">Go</button>
                </mat-card-actions>
              </mat-card>
        </div>

        <div class="col-3">
          <br>
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Firebase</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="item">
                  <img src="https://avatars.githubusercontent.com/u/1335026?s=280&v=4">
               </div>
              </mat-card-content>
              <mat-card-actions>
                <button routerLink="/firebase" class="btn btn-primary">Go</button>
              </mat-card-actions>
            </mat-card>
      </div>

      <div class="col-3">
        <br>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>PWA</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="item">
                <img src="https://cdn-images-1.medium.com/max/1200/1*ZqDWBVu3JtLqBCPc22UE4A.png">
             </div>
            </mat-card-content>
            <mat-card-actions>
              <button routerLink="/pwa" class="btn btn-primary">Go</button>
            </mat-card-actions>
          </mat-card>
    </div>

    <div class="col-3">
        <br>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Javascript</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="item">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png">
             </div>
            </mat-card-content>
            <mat-card-actions>
              <button routerLink="/javascript" class="btn btn-primary">Go</button>
            </mat-card-actions>
          </mat-card>
    </div>
       
    </div>
</div>
