<mat-toolbar style="position: fixed;z-index: 999;" color="primary">
    <mat-toolbar-row >
        <mat-icon style="cursor: pointer;" routerLink="/spring-application/dashboard/"  aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <!-- <span  style="margin-left: 20px;"><button routerLink="/spring-application/dashboard/" mat-raised-button>Products</button></span> -->
          <!-- <span  style="margin-left: 20px;"><button routerLink="/spring-application/dashboard/" mat-raised-button>Contact us</button></span>
          <span  style="margin-left: 20px;"><button routerLink="/spring-application/dashboard/" mat-raised-button>About us</button></span> -->

          <span  style="margin-left: 20px;"><button routerLink="/spring-application/registration/" mat-raised-button>Register</button></span>
          <span  style="margin-left: 20px;"><button routerLink="/spring-application/login/" mat-raised-button>Sign In</button></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <br><br>
  <br><br><br>  