<div class="container">
    <h3> JS is single threaded language</h3>
    <br>

    <h2 style="color: black;">1.Closure</h2><br>
    <button (click)="closureFun()">Click</button>
    <br>
    <br>

    <h2 style="color: black;">2. apply, call, bind</h2><br>
    <button (click)="applyCallBind()">Click</button>

    <br>
    <br>

    <h2 style="color: black;">3. Callback, Promises, Async/Await</h2><br>
    <button (click)="asyncProgram()">Click</button>

    <div>
        <ul id="callback"></ul>
    </div>
</div>